.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    /* border-bottom: 1px solid black; */
    padding: 1rem;
}
.left p{
    font-size: 10px;
    /* color: white; */
}
.left h1{
    font-size: 20px;
}
.right{
    text-align: right;
}
.right h1{
    font-size: 15px;
}